Repository es-na-battlesnake/snakes, pull requests merged in 2022-02, with the labels that each got.

#95 Crank up the CPU and memory to 2 for the season and activity
  .github/workflows/docker-image.yml
Labels: infrastructure

#104 Set production workflow environment
  .github/workflows/docker-image.yml
  .github/workflows/safe-deploy.yml
Labels: infrastructure

#105 Configure workflow dispatch
  .github/workflows/docker-image.yml
Labels: enhancement, infrastructure, github_actions

#106 Eat food and Smarter hazard choice
  .github/workflows/go.yml
  snakes/go/spring-league-2022/logic.go
  snakes/go/spring-league-2022/logic_test.go
Labels: enhancement, :snake: :brain:, go

#142 Corners are ok
  snakes/ruby/djdefi/app/move.rb
Labels: :snake: :brain:
